/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    /* margin-left: 8px;
    margin-right: 8px; */
}
.col-third {
    width: 33.333%;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
/* 1. Từ ngoài vào trong
2. Từ trên xuống dưới 
3. Từ tổng quan đến chi tiết*/
/* 1. vị trí của nó
2. Kích thước
3. Màu sắc
4. Kiểu dáng(kiểu chữ, hình tròn, vuông,...) */
.clear{
   clear: none;
}
.text-white{
    color: #fff !important; 
}
.text-center {
    text-align: center !important;
}
#main {

} 
/* Làm thanh header */
#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;

}
#nav > li{
    display: inline-block;
}
#nav li {
    
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}


#nav > li:hover > a,
#nav .subnav li:hover a 
{
    color: #000;
    background-color: #ccc;

}
/* Làm thanh Menu */
#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
#nav li:hover .subnav{
    display: block;
} 
/* Làm icon */
#nav .nav-arrow-down{
    font-size: 14px;
}
#nav .subnav a{
    padding: 0 12px;
    color: #000;
    display: block;
    line-height: 38px;
} 
/* #nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
} */
#header .search-btn{
    float: right;
    padding: 0 21px;
    
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;

}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/Slider/chicago.jpg') top center / cover no-repeat;

}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    width: 100%;
    color: #fff;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}
#slider .text-description{
    font-size: 15px;
}
#content {
    
}
#content .content-section{
    width: 800px;
    padding: 64px 0px 112px;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    /* Độ giãn của chữ */
    letter-spacing: 4px;
}
#content .section-subheading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    /* in nghiêng */
    font-style: italic;
    /* Độ mờ */
    opacity: 0.6;
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    /* căn 2 bên */
    text-align: justify;
/* Độ cao của dòng */
    line-height: 1.4;
}
/* CSS cho team */
#content .member-list {
    margin-top: 48px;
    overflow: hidden;
}

#content .member-name{
    font-size: 15px;
   
}
#content .member-img{
    margin-top: 15px;
    width: 150px;
    border-radius: 4px;
}
/* Làm bán vé */
.tour-section{
    background-color: #000;
}
.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;

}
.ticket-list .sold-out{
    background-color: #f44336;
    padding: 3px 4px;
    color: #fff;
    margin-left: 16px;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
.place-list{
    margin-top: 32px;
   /* Sửa float bị đè */
    overflow: hidden;
    margin: 32px -8px 0 -8px;
}

.place-img{
width: 100%;
display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin: 15px 0px 15px 0px;
    line-height: 1.6;
    text-align: justify;
}
.s-full-width{
    display: inline-block;
    background-color: #333;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer
}
.s-full-width:hover{
    color: #333;
    background-color: #ccc;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list i{
    margin: 3px;
}
#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);

}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}
/* Làm form */
.modal.open{
    display: flex;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* Cho phần container vào giữa */
    /*- Cho phần con của thẻ to xuống giữa */
    align-items: center;
    /*- Cho phàn con của thẻ to vào giữa */
    justify-content: center;
    display: none;
}

.modal .modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-16px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .5s;
}
.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.ti-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}
.ti-close:hover{
    color: #333;
    background: #ccc;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    margin-bottom: 24px;
    padding: 8px;

}
#buy-tickets {
    border: none;
    background: #009688;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}
#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: #2196f3;
}
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px)
        
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}
/* Contact form */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .form-submit-btn{
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
    outline: none;
    cursor: pointer
}
.contact-form .form-submit-btn:hover{
    color: #333;
    background-color: #ccc;
    border: none;
}
/* Map section */
.map-section img {
    width: 100%;
}
